.formContainer {
  display: inline;
  grid-area: f;
}

.pageContainer {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    "n n n n"
    ". f f ."
    "b b b b";
}

.buttonDiv {
  text-align: left !important;
}

.navbarDiv {
  grid-area: n;
  background-color: black;
}


.bottomDiv{
  grid-area: b;
}
