.formContainer {
  display: inline;
  grid-area: f;
}

.pageContainer {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 40px;
  grid-template-areas:
    ". f f ."
    ". s s ."
    ". . . .";
}

.buttonDiv {
  text-align: left !important;
}

#submitted {
  display: none;
  grid-area: s;
}
