.formContainer {
  display: inline;
  grid-area: f;
}

.pageContainer {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 40px;
  grid-template-areas:
    ". f f ."
    "b b b b";
}

.buttonDiv {
  text-align: left !important;
}



.bottomDiv{
  grid-area: b;
}
