body, html{
  height: 100vh;
  min-height: 550px;
  margin-bottom: 0 !important;
}

.page-container {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/background.png");
  height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  text-align: center;
  /* background-position: center, center; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 15% 15% 7% 5% 5% 40px;
  grid-template-areas:
    ". . . . . ."
    ". d d d d ."
    ". . p p . ."
    ". . c a . ."
    ". . m m . ."
    ". . . . . .";
    color: white;
    grid-gap: 10px;
}

.projects {
  height: 100%;
  min-height: 50px;
  width: 100%;
  border: 1px solid rgb(255, 255, 255, .3);
  border-radius: 10px;
  grid-area: p;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.description {
  grid-area: d;
}

.about, .contact {
  height: 100%;
  min-height: 50px;
  width: 100%;
  border: 1px solid rgb(255, 255, 255, .3);
  border-radius: 10px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.about {
  grid-area: a;
}

.contact {
  grid-area: c;
}

#root {
  height: 100%
}

@media only screen and (max-width: 1200px)  {
  .page-container {
      background-position: center center;
    }
  }

.page-container a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin: 5px;
}

.about:hover, .contact:hover, .projects:hover {
  background-color: white;
  color: black;
}

.social {
  grid-area: m;
}

.socialDiv {
  
  display: inline-block;
  padding: 20px;
}

svg:hover {
  color: yellow;
}

@media only screen and (max-width: 825px)  {
  .page-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 15% 8% 6% 6% auto;
    grid-template-areas:
      ". . . ."
      ". d d ."
      ". p p ."
      ". c c ."
      ". a a ."
      ". m m .";
    color: white;
    grid-gap: 10px;
    }

  }