.gridContainer {
  text-align: center;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:

  ". z ."
  ". y ."
  ". x ."
  ". v ."
  ". u ."
  ". t .";
}

/* @media only screen and (max-width: 780px)  {
  .gridContainer {
      grid-template-columns: repeat(auto-fill 3, 1fr);
      grid-template-rows: 40px auto auto auto auto auto auto 40px;
      grid-template-areas:
        "n n n"
        ". z ."
        ". y ."
        ". x ."
        ". v ."
        ". u ."
        ". t ."
        "b b b";
    }
  } */
  
body {
  margin-bottom: 150px;
}

.wrapper {
  text-align: center;
}