.projectDetailContainer {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100px auto auto auto 100px;
  grid-template-areas:
  ". . . . . . . . . ."
  ". i i i i i . . . ."
  ". i i i i i d d d ."
  ". i i i i i . . . ."
  ". . . . . . . . . .";
  grid-gap: 5px;
}

.imgDiv {
  display: inline-block;
  grid-area: i;
  background-size: cover;
  background-position: center;
  max-height: 80%;
  min-height: 300px;
  width: 100%; 
}

.detailsDiv {
  display: inline-block;
  grid-area: d;
  margin-left: 20px;
}

.titleDiv {
  display: inline-block;
  margin-right: 10px;
}
.buttonDiv {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 20%;
}

.buttonDiv Button {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1300px)  {
  .projectDetailContainer {
      height: 100vh;
      display: grid;
      grid-template-columns: .5fr 1fr 1fr .5fr;
      grid-template-rows: 40px auto auto auto  40px;
      grid-template-areas:
        " . . . ."
        " . i i ."
        " . i i ."
        " . d d ."
        " . . . .";
    }

    .detailsDiv {
      margin-left: 0px;
    }

  }

  @media only screen and (max-width: 600px)  {
    .projectDetailContainer {
        height: 100vh;
        display: grid;
        grid-template-columns: .5fr 1fr 1fr .5fr;
        grid-template-rows: 40px auto auto auto  40px;
        grid-template-areas:
          " . . . ."
          " . i i ."
          " . d d ."
          " . . . ."
          " . . . .";
      }
  
      .detailsDiv {
        margin-left: 0px;
      }
  
    }
